<h1>Editing Bn Nominal Roll</h1>

<%= render "form", bn_nominal_roll: @bn_nominal_roll %>

<br>

<div>
  <%= link_to "Show this bn nominal roll", @bn_nominal_roll %> |
  <%= link_to "Back to bn nominal rolls", bn_nominal_rolls_path %>
</div>
