<p style="color: green"><%= notice %></p>

<h1>Bn nominal rolls</h1>

<div id="bn_nominal_rolls">
  <% @bn_nominal_rolls.each do |bn_nominal_roll| %>
    <%= render bn_nominal_roll %>
    <p>
      <%= link_to "Show this bn nominal roll", bn_nominal_roll %>
    </p>
  <% end %>
</div>

<%= link_to "New bn nominal roll", new_bn_nominal_roll_path %>
