<div class="row my-2">
  <div class="col-1">
    <%= link_to "Edit Data", edit_bn_nominal_roll_indl_detail_path(@bn_nominal_roll, indl_details), class: "btn btn-sm btn-outline-primary"%>
  </div>
  <div class="col-2">
    <%= button_to "Delete Data", bn_nominal_roll_indl_detail_path(@bn_nominal_roll, indl_details), method: :delete, class: "btn btn-sm btn-outline-primary" %>
  </div>
</div>
<table class="table table-bordered">
  <thead class="bg-light">
    <tr>
      <% indl_details.attributes.except("updated_at", "created_at", "id", "bn_nominal_roll_id").keys.each do | bn |%>
        <th> <%= bn.titleize %> </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% indl_details.attributes.except("updated_at", "created_at", "id", "bn_nominal_roll_id").values.each do | bn |%>
        <td><%= bn %> </td>
      <% end %>      
    </tr>
  </tbody>
</table>