<div class="container my-4">

    <br>
    <h2 class="pt-2">New Indl Detail</h2>
    <br>
    <%= render partial: "form", locals: { action: "post", url: bn_nominal_roll_indl_details_path, indl_detail: @indl_detail} %>
</div>