<div class="container my-4">
    <br>
    <h2 class="pt-2">New Leave State</h2>
    <br>
    <%= render partial: "form", locals: { action: "post", url: bn_nominal_roll_leave_states_path, leave_state: @leave_state } %>
</div>
