<div class="container my-4">
    <br>
    <h2 class="pt-2">Editing Indl Veh Details</h2>
    <br>
    <%= render partial: "form", locals: { action: "patch", url: bn_nominal_roll_indl_veh_detail_path, indl_veh_detail: @indl_veh_detail } %>
</div>