<div class="container">
    <br>

    <h2 class="pt-2">Editing ere detail</h2>
    <br>
    <%= render partial: "form", locals: { action: "patch", url: bn_nominal_roll_ere_detail_path, ere_detail: @ere_detail } %>
</div>
