<div class="container my-4">
    <br>
    <h2 class="pt-2">New ERE Details</h2>
    <br>

    <%= render partial: "form", locals: { action: "post", url: bn_nominal_roll_ere_details_path, ere_detail: @ere_detail } %>
</div>