<div class="container my-4">
    <br>
    <h2 class="py-2">New att per</h2>
    <br>

    <%= render partial: "form", locals: { action: "post", url: bn_nominal_roll_att_pers_path, att_per: @att_per } %>
</div>
