<h1>Editing Cor Drinker / Non Drinker</h1>

<%= render partial: "form", locals: { action: "patch", url: bn_nominal_roll_cor_drinker_non_drinker_path, cor_drinker_non_drinker: @cor_drinker_non_drinker } %>

