<div class="container my-4">
    <br>
    <h2 class="py-2">New Cor Drinker / Non Drinker</h2>
    <br>
    <%= render partial: "form", locals: { action: "post", url: bn_nominal_roll_cor_drinker_non_drinkers_path, cor_drinker_non_drinker: @cor_drinker_non_drinker } %>
</div>
