<h1>New Cor Drinker / Non Drinker</h1>
<%= render partial: "form", locals: { action: "post", url: bn_nominal_roll_cor_drinker_non_drinkers_path, cor_drinker_non_drinker: @cor_drinker_non_drinker } %>

