<div class="container my-4">
    <br>
    <h2 class="py-2">Editing bn sports team</h2>
    <br>
    <%= render partial: "form", locals: { action: "patch", url: bn_nominal_roll_bn_sports_team_path, bn_sports_team: @bn_sports_team } %>
</div>