<div class="container">
    <br>
    <h2 class="pt-2">Editing Max Health Report</h2>
    <br>
    <%= render partial: "form", locals: { action: "patch", url: bn_nominal_roll_max_health_report_path, max_health_report: @max_health_report } %>
</div>