<div class="container my-4">
    <br>
    <h2 class="pt-2">New Max Health Report</h2>
    <br>
    <%= render partial: "form", locals: { action: "post", url: bn_nominal_roll_max_health_reports_path, max_health_report: @max_health_report} %>
</div>
