<div class="container my-4">
    <br>    
    <h2 class="py-2">New army course</h2>
    <br>

    <%= render partial: "form", locals: { action: "post", url: bn_nominal_roll_army_courses_path, army_course: @army_course } %>
</div>
