<div class="container my-4">
    <br>
    <h2 class="pt-2">New Coy Leave Detail</h2>
    <br>

    <%= render partial: "form", locals: { action: "post", url: bn_nominal_roll_coy_leave_details_path, coy_leave_detail: @coy_leave_detail} %>

</div>
