<p style="color: green"><%= notice %></p>

<h1>Bn lmc pers</h1>

<div id="bn_lmc_pers">
  <% @bn_lmc_pers.each do |bn_lmc_per| %>
    <%= render bn_lmc_per %>
    <p>
      <%= link_to "Show this bn lmc per", bn_lmc_per %>
    </p>
  <% end %>
</div>

<%= link_to "New bn lmc per", new_bn_lmc_per_path %>
