<div class="container my-4">
    <br>
    <h2 class="py-2">New bn lmc per</h2>
    <br>

    <%= render partial: "form", locals: { action: "post", url: bn_nominal_roll_bn_lmc_pers_path, bn_lmc_per: @bn_lmc_per} %>
</div>