<p style="color: green"><%= notice %></p>

<%= render @bn_lmc_per %>

<div>
  <%= link_to "Edit this bn lmc per", edit_bn_lmc_per_path(@bn_lmc_per) %> |

  <%= button_to "Destroy this bn lmc per", @bn_lmc_per, method: :delete %>
</div>
