<div class="container my-4">
    <br>
    <h2 class="py-2">New Bn Family Member Detail</h2>
    <br>
    <%= render partial: "form", locals: { action: "post", url: bn_nominal_roll_bn_family_member_details_path, bn_family_member_detail: @bn_family_member_detail } %>
</div>
