<div class="container">
    <br>
    <h2 class="pt-2">Editing Pers In Mh</h2>
    <br>
    <%= render partial: "form", locals: { action: "patch", url: bn_nominal_roll_pers_in_mh_path, pers_in_mh: @pers_in_mh } %>
</div>